.nav {
    justify-content: center;
}

.white-tabs .chakra-tabs__tab {
    color: #ffffff;
}

.white-tabs .chakra-tabs__tab:focus,
.white-tabs .chakra-tabs__tab:hover,
.white-tabs .chakra-tabs__tab[aria-selected='true'] {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px cyan, 0 0 70px cyan, 0 0 80px cyan, 0 0 100px cyan;
}